site_name: Melon-Bytes
site_description: "Public notes, powered by SilverBullet & MkDocs"
site_url: https://melvin-suter.github.io/silver-site/
docs_dir: docs

theme:
  name: material
  logo: logo.png
  favicon: logo.png
  features:
    - navigation.tabs
    - navigation.top
    - navigation.path
    - search.highlight
    - search.suggest
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: indigo


plugins:
- search
- blog
- tags

nav:
  - Home: index.md
  - Chamel: chamel.md
  - About: about-me.md
  - Blog:
      - blog/index.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - footnotes
  - codehilite
  - tables

extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/melvin-suter
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/suter.dev/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/melvin-suter-2885b9bb/
  copyright: Copyright &copy; 2025 - now Melvin Suter (Melon-Bytes)

  generator: false
extra_css:
- sb.css
