site_name: Melon-Bytes
site_description: "Public notes, powered by SilverBullet & MkDocs"
site_url: https://melvin-suter.github.io/silver-site/
docs_dir: docs

theme:
  name: material
  logo: logo.png 
  features:
    - navigation.tabs
    - navigation.top
    - navigation.path
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: indigo

plugins:
- search
- blog
- tags

nav:
  - Home: index.md
  - Chamel: chamel.md
  - About: about-me.md
  - Blog:
      - blog/index.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - footnotes
  - codehilite
  - tables

extra:
  generator: false
extra_css:
- sb.css
